.container {
    height: 400px;
    width: 400px;
    margin: 20px auto;
    border: 1px solid #ecede7;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .previewImg{
      height: 320px;
      width: 400px;
      background-color: rgb(223, 227, 201);
      transition: 1s ease-in all;
  
  }
  
  .small_div_container{
      height: 80px;
      display: flex;
  }
  
  .box{
      flex-grow: 1;
      margin: 5px;
      cursor: pointer;
      border: 2px solid transparent;
      transition: 0.8s ease-in all;
      justify-content: center;
      align-items: center;
      display: flex;
  }
  
  